@charset "utf-8";

html{color:#444;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;_background-image:url(about:blank);_background-attachment:fixed;_text-overflow:ellipsis;/*IE6 模拟fixed定位抖动bug*/}
/* 在基础样式中 body 尽量不控制背景颜色等属性，html,body不能设置高度100%会对iframe自适应产生错误 */
body{word-wrap:break-word;word-break:break-all;line-height:1.334;*font-family:SimSun, Arial, Helvetica, sans-serif;/*开发前强制IE字体为宋体尽量不造成在xp环境下由于没有雅黑字体产生行高不一致从而错位*/-webkit-font-smoothing:antialiased;/*mac 下字体抗锯齿*/}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}

/* 表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:1.5;}
input,select,button,textarea{font-size:100%;outline:0 none;}

/* 安卓输入框会有外围文字的 bug */
input,textarea{-webkit-user-modify:read-write-plaintext-only;}


textarea{resize:none;}

/* 去掉各Table  cell 的边距并让其边重合 */
table{border-collapse:collapse;border-spacing:0;}

/* 去除默认边框 */
iframe,fieldset,img{border:0 none;}

/* IE图片缩小失真，有锯齿的 bug */
img{-ms-interpolation-mode:bicubic;}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{display:block;}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{border:0 none;font-variant:normal;}

/* 一致的 del 样式 */
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500;}

/* 去掉列表前的标识, li 会继承 */
ol,ul{list-style:none;}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';}

/* 统一上标和下标 */
sub, sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}

/* 默认不显示下划线，保持页面简洁 */
ins,a{text-decoration:none;}

/* 全局链接样式 */
a{color:#2b84d0;outline:0 none;cursor:pointer;}
/* IE6 链接下的元素不显示手型 */
a *{cursor:pointer;}
a:hover{text-decoration:underline;color:#d19911;}

/* 浮动与清理浮动 */
.fl,.fr{display:inline;}
.fl{float:left;}
.fr{float:right;}
.clear{zoom:1;}
.clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

/* 显示样式 */
.bshow{display:block;}
.lshow{display:list-item;}
.ishow{display:inline-block;*display:inline;*zoom:1;}
.invisible{visibility:hidden;}
.hide{display:none;}

/* 元素垂直居中对齐 */
.dis_ibvt{display:inline-block;*display:inline;*zoom:1;vertical-align:top;}
.dis_ibvm,.vam{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;}
.vam{width:0;height: 100%;overflow: hidden;}

/* 不受浮动影响的弹性布局 */
.fluid{display:table-cell;width:2000px;*display:block;*width:auto;*overflow:hidden;*zoom:1;}

/* 雅黑字体 */
.f_yh{font-family:'Microsoft YaHei',Arial, Helvetica, sans-serif;}

/* 字体颜色 */
.error{color:#ee0000;}
.pass{color:#39b130;}
.gray{color:#666;}
.orange{color:#f60;}
.str{color:#ea0000;font-weight:bold;}

/* 单行文字溢出省略号 */
.ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

/* 主体居中布局 */
.gpage{width:960px;margin:0 auto;}

/* 头中尾定位，导航必定在上 */
.relative{position:relative;}
.fixheader{position:fixed;left:0;top:0;_position:absolute;z-index:3;width:100%;_top:expression(eval(document.documentElement.scrollTop));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d93e94dd',endColorstr='#d93e94dd');}
:root .fixheader{background:rgba(62,148,221,.85);filter:none;}
#topwrap{z-index:2;}
#middle{z-index:1;}
/*建议将margin设置到middle中间部分而不设置到footer中*/
#footer{z-index:0;}

#gotop{position:fixed;right:0;bottom:20px;_position:absolute;z-index:3;width:30px;height:30px;overflow:hidden;background:#eee;_top:expression(eval(document.documentElement.scrollTop));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d93e94dd',endColorstr='#d93e94dd');}

/* 弹框层级应高 */
.popwrap{z-index:10000;position:fixed;_position:absolute;left:0;top:0;z-index:5000;zoom:1;width:100%;height:100%;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f000000',endColorstr='#7f000000');_height:expression(document.documentElement.clientHeight+'px');_top:50%;_margin-top:expression(document.documentElement.scrollTop-parseInt(document.documentElement.clientHeight/2)+'px');}
:root .popwrap{background:rgba(0,0,0,.5);filter:none;}

/* 纯 css 居中弹出层样式 */
.popwrap .mask{display:none;_display:block;/*在IE下右击刷新可能是刷新该iframe*/width:100%;height:100%;opacity:0;filter:alpha(opacity=0);}
.popup{position:absolute;left:0;top:0;/*绝对定位的元素在IE6下不给left，top时会接在其他元素下面的bug*/width:100%;height:100%;color:#fff;font-size:0;text-align:center;}
.dialog{width:500px;font-size:12px;text-align:left;background:#fff;}
.popheader{height:36px;line-height:36px;position:relative;left:0;top:0;padding:0 36px 0 0;}
.popheader h6{cursor:move;padding:0 10px;background:#3e94dd;}
.popheader a{position:absolute;right:0;top:0;width:36px;height:36px;background:#fff;}
.popbody{height:200px;overflow-y:auto;}
.poppadd{padding:10px;}
.popfooter{padding:10px 0;border-top:1px solid #ccc;background:#f8f8f8;text-align:right;}
.popfooter a{margin-right:10px;}
/* 编辑器有可能有定位因此需独立定义层级 */





/*伪类实现的简单图标*/
/*阴影实例*/
.shadow20140411{box-shadow:1px 3px 5px #666;}
/*半透明及渐变*/
.halfalpha20140411{background-color:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}
/*渐变*/
.gradient20140411{
background-image:-ms-linear-gradient(top left, #ffffff 0%, #ffffee 90%, #00a3ef 100%);
background-image:-moz-linear-gradient(top left, #ffffff 0%, #ffffee 90%, #00a3ef 100%);
background-image:-o-linear-gradient(top left, #ffffff 0%, #ffffee 90%, #00a3ef 100%);
background-image:-webkit-gradient(linear, left top, right bottom, color-stop(0, #ffffff), color-stop(.9, #ffffff), color-stop(1, #00a3ef));/*for safari*/
background-image:-webkit-linear-gradient(top left, #ffffff 0%, #ffffee 90%, #00a3ef 100%);
background-image: linear-gradient(to bottom right, #ffffff 0%, #ffffee 90%, #00a3ef 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ff00a3ef', GradientType=1);/*1水平渐变，0垂直，defalut 0*/}
/* hack实例 */
.hack20140411{color:#f00\0;/*for IE6-11*/
color:#f0f\9;/*for IE6-10*/
color:#ff0\0/;/*for IE8*/
*color:#0ff;/*for IE6-7*/
_color:#00f;/*for IE6*/}

/* 多背景多类处理 */
.chapters ul li a[class*=odd]{background-position:left bottom;}
.chapters ul li a.intime{background-position-x:-74px;color:#444;}
.chapters ul li a[class*=intime]{background-position:-74px top;}
.chapters ul li a[class*=odd][class*=intime]{background-position:-74px bottom;}
.chapters ul li a{display:block;width:60px;height:60px;padding:7px 7px 17px;overflow:hidden;background-image:url(../images/chapter_bg.gif);background-repeat:no-repeat;margin-bottom:30px;background-position:left top;background-position-x:left;word-break:break-all;}
.chapters ul li a.on{background-position-x:-148px;color:#444;}
.chapters ul li a[class*=on]{background-position:right top;}
.chapters ul li a[class*=odd][class*=on]{background-position:-148px bottom;}
.chapters ul li a.odd{float:right;padding:17px 7px 7px;background-position-y:bottom;}
.chapters ul li a:hover{text-decoration:none;}




