@charset "utf-8";


.imgbox200x200{background:red;padding:40px;}
.imgbox200x200 div{width:200px;border:1px solid #000;}
.imgbox200x200 div img{_max-width:200px;}

.imgbox100x100{background:blue;padding:40px;}
.imgbox100x100 div{width:100px;height:100px;border:1px solid #000;}
.imgbox100x100 div img{_max-width:100px;_max-height:100px;}