#wrapper {
	background-color: #fff;
	border: 0px;
	margin-top: 10px;
	margin-bottom: 10px
}
table.hex {
	width: 900px;
	margin: 0px auto
}
table.hex tr {
	height: 130px
}
.grid {
	background-color: #92b83e;
	color: #fff
}
.grid:hover,
.grid-active {
	background-color: #bfdd77;
	color: #000
}
.grid h2 {
	font-size: 22px;
	cursor: pointer
}
.grid h3 {
	font-size: small;
	height: 42px;
	cursor: pointer;
	padding-bottom: 25px
}
#g13 {
	background-color: #f1f1f1
}
#g13 h2 {
	font-size: 22px;
	color: #222
}
.gval {
	font-size: 25px;
	text-align: right;
	max-width: 190px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
p.desc {
	margin: 9px 13px
}
div.unitbox {
	margin: 45px auto;
	width: 267px
}
#unittxt {
	font-size: 17px;
	padding: 2px;
	text-align: right;
	margin-left: 18px;
	width: 216px
}
#unitdesc {
	min-height: 70px
}
#customdpi {
	border: 1px solid #87ceeb;
	font-size: 17px;
	padding: 2px;
	text-align: right;
	width: 64px;
	margin-left: 10px;
	float: left;
	display: none
}
#dpidd {
	font-size: 17px;
	padding: 2px;
	width: 146px;
	float: left
}
.morelessbtn {
	float: right;
	width: 25px;
	height: 25px
}
div.select-calc {
	float: right;
	border: 3px solid gray;
	border-radius: 3px
}
div.select-calc span {
	display: inline-block;
	height: 16px;
	padding: 4px 17px;
	font-weight: bold;
	background-color: gray;
	color: #fff;
	cursor: pointer
}
div.select-calc span:hover {
	background-color: #adadad;
	color: #000
}
div.select-calc span.selected {
	background-color: #f1f1f1;
	color: #000
}
div.select-calc span.selected:hover {
	background-color: #f1f1f1;
	color: #000
}
#reset-multigrid {
	background-color: #435b10;
	color: #435b10;
	font-size: 17px;
	cursor: pointer
}
#reset-multigrid:hover {
	background-color: #92b83e;
	color: #fff
}
.gridhead {
	font-size: 17px;
	text-align: center;
	background-color: #92b83e;
	color: #fff
}
.grid-1 {
	color: #fff;
	font-size: 17px;
	background-color: #6b8e23
}
.grid-2 {
	color: #000;
	background-color: #f1f1f1
}
.grid-2 input.grid-val {
	font-size: 17px;
	font-weight: normal;
	width: 97px;
	border: 0px;
	height: 18px;
	float: right;
	text-align: right;
	background-color: transparent
}
.grid-2 input:focus {
	outline: none;
	color: #00f
}
.grid-2 div {
	font-size: 18px;
	float: left;
	display: block
}
.grid-2:hover div {
	border: 0px solid red
}
.grid-custval {
	background-color: transparent;
	border: medium none;
	color: #fff;
	font-size: 17px;
	width: 100px
}
.grid-custval input:focus {
	outline: none
}